* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "PP Neue Montreal";
  background-color: #0f0f0f;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.blurry-prev {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(30px);
}

.title {
  position: relative;
  flex: 0.3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.title h1 {
  color: #fff;
  font-size: 36px;
  font-weight: 500;
  writing-mode: vertical-rl;
  text-orientation: upright;
  will-change: transform;
  font-size: 24px;
  font-weight: bold;
}

.project-preview {
  position: relative;
  flex: 1.5;
}
/*  */
/* .title { */
/* position: absolute; */
/* top: 1em; */
/* left: 1em; */
/* margin-bottom: 0.5em; */

/* width: 80%; */
/* } */

/* .title { */
/* position: relative; */

/* transform: translateY(40px); */
/* will-change: transform; */
/* } */

.canvas-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  aspect-ratio: 16 / 9;
  height: 100vh;
  /* overflow: hidden; */
  will-change: transform;
}
.canvas {
  /* width: 100%; */
  height: 100%;
  object-fit: "cover";
}

.gallery-wrapper {
  width: 10vw;
  display: flex;
  justify-content: center;
  z-index: 2;
  overflow: auto;
  padding: 0.75em;
  background-color: rgba(255, 255, 255, 0.01);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
}

.gallery {
  width: 80vw;
  height: 300vh;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.gallery.item {
  position: relative;
  flex: 1;
  //background-color: #aeaeae;
}
.gallery .item:hover {
  cursor: pointer;
}

.gallery .item img {
  filter: brightness(40%);
  transition: filter 0.4s;
}
.gallery .item.active img {
  filter: brightness(100%);
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 900px) {
  .container {
    flex-direction: row;
    justify-content: center;
    alin-items: center;
  }

  .blurry-prev {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .title {
    flex: 0.25;
  }

  .canvas-wrapper {
    width: 100vw;
    height: 100vh;
    transform: none !important;
    transition: none !important;
  }

  .gallery-wrapper {
    top: 0;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 15vw;
    height: 100vh;
    border-right: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  .gallery {
    width: 300vw;
    height: 100px;
    flex-direction: column;
  }
}
