@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Fredoka", sans-serif;
  font-weight: 700;
  font-display: swap;
  background-color: #0f0f0f;
  overflow: hidden;
}

body.loading {
  overflow: auto;
}
body.loaded {
  overflow: hidden;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.blurry-prev {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.blurry-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* overflow: hidden; */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(30px);
}

.show-gallery {
  width: auto;
  position: absolute;
  top: 5%;
  left: calc(10% / 2);
  transform: translateX(-50%);
  z-index: 100;
}
.show-gallery-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.2rem;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  width: clamp(50px, 8vw, 80px); /* mínimo 50px, máximo 100px */
  height: clamp(50px, 8vw, 80px); /* mantiene proporción */
}

.circular-text-layer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.circular-text-wrapper {
  display: inline-block;
  transition: transform 0.6s ease-in-out;
  transform-origin: center;
}

.show-gallery-btn:hover {
  background: rgba(0, 0, 0, 0.5);
}
.show-gallery-btn:hover .circular-text-wrapper {
  transform: rotate(360deg);
}

.circle-text-icon {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg);
}

.icon {
  font-size: clamp(1.5rem, 3vw, 2rem);
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gallery-on {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2ecc0d;
}
.gallery-off {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff073a;
}

.title {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  width: 10%;
  height: 100vh;
  /* flex: 1; */
}

.title h1 {
  font-size: clamp(1.5rem, 2vw, 1.85rem);
  font-weight: 500;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-weight: bold;
  text-transform: uppercase;
}

.project-preview {
  /* position: relative; */
  flex: 1;
}

.canvas-wrapper {
  position: absolute;
  /* left: 0; */
  /* top: 0; */
  width: 100%;
  /* aspect-ratio: 16 / 9; */
  height: 100%;
}
.canvas {
  width: 100%;
  height: 100%;
  display: block;
}
.gallery-wrapper {
  overflow-y: scroll;
  padding: 0.5rem;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(30px);
  /* position: relative; */
  width: clamp(10vw, 18vw, 15vw);
  height: 100vh;
  display: none; /* GSAP lo activará */
  opacity: 0;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.gallery-wrapper::-webkit-scrollbar {
  display: none;
}

.gallery {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.gallery .item {
  position: relative;
  flex: 1;
}

.gallery .item img {
  width: 100%;

  height: auto; /* NO uses height:100% → causa el bug */
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
  filter: brightness(40%);
  transition: filter 0.4s;
}

.gallery .item img:hover {
  filter: brightness(120%) hue-rotate(25deg) saturate(100%);
  transition: filter 0.3s ease;
}

.gallery .item.active img {
  filter: brightness(100%);
}

@media (max-width: 900px) {
  .container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .canvas-wrapper {
    width: 100%;
    height: 100%;
    left: 10%;
    top: 0;
  }

  .gallery {
    gap: 0.3rem;
  }

  .gallery .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
  }
}
