@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Fredoka", sans-serif;
  font-weight: 700;
  background-color: #0f0f0f;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.blurry-prev {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(30px);
}

.show-gallery {
  position: relative;
  top: 0;
  left: 200;
  z-index: 100;
}
.show-gallery-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 40px;
  width: 80pxpx;
  padding: 0.6em 1.2em;
  border: 2px solid white;
  border-radius: 15px;
}

.show-gallery-btn:hover {
  background: rgba(0, 0, 0, 0.3);
}

.icon {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-item: center;
}
.gallery-on {
  display: flex;
  justify-content: center;
  align-item: center;
  color: #2ecc0d;
}
.gallery-off {
  display: flex;
  justify-content: center;
  align-item: center;
  color: #ff073a;
}

.title {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.title h1 {
  color: #fff;
  font-size: 36px;
  font-weight: 500;
  writing-mode: vertical-rl;
  text-orientation: upright;
  will-change: transform;
  font-size: 30px;
  font-weight: bolder;
  text-transform: uppercase;
}

.project-preview {
  position: relative;
  flex: 1.5;
}
/*  */
/* .title { */
/* position: absolute; */
/* top: 1em; */
/* left: 1em; */
/* margin-bottom: 0.5em; */

/* width: 80%; */
/* } */

/* .title { */
/* position: relative; */

/* transform: translateY(40px); */
/* will-change: transform; */
/* } */

.canvas-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  aspect-ratio: 16 / 9;
  height: 100vh;
  /* overflow: hidden; */
  will-change: transform;
}
.canvas {
  /* width: 100%; */
  height: 100%;
  object-fit: "cover";
}

.gallery-wrapper {
  width: 10vw;
  display: none;
  opacity: 0;
  transform: translateY(80px);
  justify-content: center;
  z-index: 2;
  overflow: auto;
  padding: 0.75em;
  background-color: rgba(255, 255, 255, 0.01);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
}

.gallery {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.gallery .item {
  position: relative;
  flex: 1;
  //background-color: #aeaeae;
}
.gallery .item {
  cursor: pointer;
}

.gallery .item img {
  filter: brightness(40%);
  transition: filter 0.4s;
}
.gallery .item img:hover {
  filter: brightness(120%) hue-rotate(25deg) saturate(100%);
  transition: filter 0.3s ease;
}

.gallery .item.active img {
  filter: brightness(100%);
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 900px) {
  .container {
    flex-direction: row;
    justify-content: center;
    alin-items: center;
  }

  .blurry-prev {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .title {
    flex: 0.25;
    position: relative;
  }

  .canvas-wrapper {
    width: 100vw;
    height: 100vh;
    transform: none !important;
    transition: none !important;
  }

  .gallery-wrapper {
    top: 0;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 15vw;
    height: 100vh;
    border-right: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  .gallery {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
}
